<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_post_index') }}">Inicio</a>
                    <a href="{{ path('app_post_new') }}">Crear</a>
                    <a href="{{ path('app_user_show', {'id': app.user.id})}}">Perfil</a>
                    <a href="{{ path('app_user_followers', {'id': app.user.id}) }}">Mis followers</a>
                    <a href="{{ path('app_user_following', {'id': app.user.id}) }}">A quién sigo</a>
                    <a href="{{ path('app_logout') }}">Salir</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Entrar</a>
                    <a href="{{ path('app_register') }}">Registro</a>
                {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
