{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Mi Red Social</h1>

        {% for post in posts %}
        <div>
                <p>{{ post.author.username }} ({{ post.postdate ? post.postdate|date('Y-m-d H:i:s') : '' }})</p>
                <p>{{ post.text }}</p>
                {% if post.img %}
                <p><img src="{{ asset('img/' ~ post.img)}}" alt"{{post.img}}" width="200px"></p>
                {% endif %}
                <div>
                {{ post.likes|length }}
                {% if post.likes.contains(app.user) %}
                    <a href="{{ path('app_post_unlike', {'id': post.id}) }}">❤️</a>
                    {% else %}
                    <a href="{{ path('app_post_like', {'id': post.id}) }}">🩶</a>
                {% endif %}
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                </div>
        </div>
        <hr>
        {% else %}
                <p colspan="5">no records found</p>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}">Create new</a>
{% endblock %}
